kestra/flows/personalized_coding_question_generator.yml
id: personalized_coding_question_generator
namespace: main

tasks:
  # Step 1: Evaluate the learner's coding profile and generate a novelty score
  - id: evaluate_learner
    type: io.kestra.plugin.ai.agent.AIAgent
    provider:
      type: io.kestra.plugin.ai.provider.OpenRouter
      apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
      modelName: openai/gpt-5.1
    systemMessage: |
      You are an educational analyst that evaluates learner coding profiles to determine personalized coding question needs.

      Based on the learner's coding analysis/annotations, you must:
      1. Determine a "novelty score" from 1 to 10 that indicates the need for more challenging or supportive content
      2. Classify the learner into one of three categories

      Novelty Score Guidelines:
      - Score 1-3: Average performers who show consistent but unremarkable progress. Standard question set needed.
      - Score 4-7: General learners with mixed performance. Moderate challenge needed.
      - Score 8-10: Learners with exceptional profiles - either:
        - Advanced learners showing mastery who need more challenging algorithmic problems, OR
        - Learners showing significant gaps who need additional focused practice

      Learner Category:
      - "advanced": Learners demonstrating strong algorithmic understanding, efficient solutions, and mastery of concepts
      - "needs_support": Learners showing gaps, common errors, or struggling with foundational algorithms
      - "general": Learners with typical mixed performance, neither exceptional nor struggling

      Analyze the annotations carefully to distinguish between advanced learners and those needing support.
      Look for indicators like: pass/fail patterns, error types, algorithm proficiency, time complexity awareness.
    configuration:
      responseFormat:
        type: JSON
        jsonSchema:
          type: object
          required: ["noveltyScore", "learnerCategory", "reasoning"]
          properties:
            noveltyScore:
              type: integer
              minimum: 1
              maximum: 10
            learnerCategory:
              type: string
              enum: ["advanced", "needs_support", "general"]
            reasoning:
              type: string
              description: "Brief explanation of why this score and category were assigned"
    prompt: |
      Analyze the following learner coding annotations and determine their novelty score and category:

      LEARNER CODING ANALYSIS:
      {{ trigger.body.analysis }}

      Provide your analysis with novelty score (1-10), learner category, and brief reasoning.

  # Step 2: Branch based on novelty score for different question counts and styles
  - id: check_high_novelty
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.evaluate_learner['jsonOutput']['noveltyScore'] >= 8 }}"
    then:
      # High novelty: 5 questions - check if advanced or needs support
      - id: check_advanced_learner
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.evaluate_learner['jsonOutput']['learnerCategory'] == 'advanced' }}"
        then:
          # Advanced learner: challenging algorithmic questions
          - id: generate_advanced_questions
            type: io.kestra.plugin.ai.agent.AIAgent
            provider:
              type: io.kestra.plugin.ai.provider.OpenRouter
              apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
              modelName: openai/gpt-5.1
            systemMessage: |
              You are a coding question generation assistant for ADVANCED LEARNERS.
              Return ONLY valid JSON matching the schema. No explanations, markdown, or extra keys.

              Generate exactly 5 personalized coding questions for a learner who has demonstrated strong algorithmic understanding.

              Guidelines for advanced learners:
              - Focus on complex algorithms (DP, graphs, advanced data structures)
              - Include optimization challenges and edge cases
              - Add questions that combine multiple algorithmic concepts
              - Prefer medium to hard difficulty (3 medium, 2 hard minimum)
              - Include questions about time/space complexity tradeoffs
              - Languages: Python (71), JavaScript (63), TypeScript (74), Java (62), C++ (54)

              Each question MUST include:
              - title: Problem title
              - promptRichText: JSON-stringified TipTap rich text content with problem description, examples, constraints
              - difficulty: easy/medium/hard
              - tags: Array of relevant tags (e.g., ["dynamic-programming", "graphs"])
              - languageIdsAllowed: Array of Judge0 language IDs [71, 63, 74]
              - defaultLanguageId: 71 (Python)
              - timeLimitSeconds: 2-5 seconds
              - memoryLimitMb: 256
              - outputComparison: { trimOutputs: true, normalizeWhitespace: true, caseSensitive: true }
              - starterCode: Optional object mapping language ID strings to starter code
              - testCases: Array of at least 3 test cases, at least 1 public and 1 hidden

              For promptRichText, use this format:
              {"type":"doc","content":[{"type":"heading","attrs":{"level":2},"content":[{"type":"text","text":"Problem Title"}]},{"type":"paragraph","content":[{"type":"text","text":"Problem description here..."}]},{"type":"heading","attrs":{"level":3},"content":[{"type":"text","text":"Examples"}]},{"type":"paragraph","content":[{"type":"text","text":"Example 1: ..."}]},{"type":"heading","attrs":{"level":3},"content":[{"type":"text","text":"Constraints"}]},{"type":"bulletList","content":[{"type":"listItem","content":[{"type":"paragraph","content":[{"type":"text","text":"1 <= n <= 10^5"}]}]}]}]}
            configuration:
              responseFormat:
                type: JSON
                jsonSchema:
                  type: array
                  minItems: 5
                  maxItems: 5
                  items:
                    type: object
                    required:
                      [
                        "title",
                        "promptRichText",
                        "difficulty",
                        "tags",
                        "languageIdsAllowed",
                        "defaultLanguageId",
                        "timeLimitSeconds",
                        "memoryLimitMb",
                        "outputComparison",
                        "testCases",
                      ]
                    properties:
                      title:
                        type: string
                      promptRichText:
                        type: string
                      difficulty:
                        type: string
                        enum: ["easy", "medium", "hard"]
                      tags:
                        type: array
                        items:
                          type: string
                      languageIdsAllowed:
                        type: array
                        items:
                          type: integer
                      defaultLanguageId:
                        type: integer
                      timeLimitSeconds:
                        type: integer
                      memoryLimitMb:
                        type: integer
                      outputComparison:
                        type: object
                        properties:
                          trimOutputs:
                            type: boolean
                          normalizeWhitespace:
                            type: boolean
                          caseSensitive:
                            type: boolean
                      starterCode:
                        type: object
                      testCases:
                        type: array
                        minItems: 3
                        items:
                          type: object
                          required: ["visibility", "stdin", "expectedStdout"]
                          properties:
                            visibility:
                              type: string
                              enum: ["public", "hidden"]
                            stdin:
                              type: string
                            expectedStdout:
                              type: string
                            name:
                              type: string
            prompt: |
              Generate 5 challenging personalized coding questions for an ADVANCED LEARNER.

              LEARNER ANALYSIS:
              {{ trigger.body.analysis }}

              EVALUATION REASONING:
              {{ outputs.evaluate_learner['jsonOutput']['reasoning'] }}

              Focus on advanced algorithms and problem-solving skills. Include complex scenarios.
              Return the JSON array of exactly 5 coding question objects.

          - id: save_advanced_questions
            type: io.kestra.plugin.core.http.Request
            uri: "{{ secret('ACTIONS_BASE_URL') }}/personalized-coding-questions"
            method: POST
            headers:
              Content-Type: application/json
            body: |
              {
                "submissionId": "{{ trigger.body.submissionId }}",
                "questions": {{ outputs.generate_advanced_questions['jsonOutput']['questions'] | json }}
              }

        else:
          # Needs support: foundational coding questions
          - id: generate_support_questions
            type: io.kestra.plugin.ai.agent.AIAgent
            provider:
              type: io.kestra.plugin.ai.provider.OpenRouter
              apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
              modelName: openai/gpt-5.1
            systemMessage: |
              You are a coding question generation assistant for LEARNERS WHO NEED ADDITIONAL PRACTICE.
              Return ONLY valid JSON matching the schema. No explanations, markdown, or extra keys.

              Generate exactly 5 personalized coding questions for a learner who needs foundational reinforcement.

              Guidelines for supportive learning:
              - Focus on reinforcing core algorithms (arrays, strings, basic recursion)
              - Break down complex concepts into simpler steps
              - Provide clear, straightforward problem statements
              - Prefer easy to medium difficulty (3 easy, 2 medium)
              - Include questions that build confidence while addressing gaps
              - Languages: Python (71), JavaScript (63), TypeScript (74)

              Each question MUST include:
              - title: Problem title
              - promptRichText: JSON-stringified TipTap rich text content with problem description, examples, constraints
              - difficulty: easy/medium/hard
              - tags: Array of relevant tags
              - languageIdsAllowed: Array of Judge0 language IDs [71, 63, 74]
              - defaultLanguageId: 71 (Python)
              - timeLimitSeconds: 2-3 seconds
              - memoryLimitMb: 256
              - outputComparison: { trimOutputs: true, normalizeWhitespace: true, caseSensitive: true }
              - starterCode: Optional object mapping language ID strings to starter code
              - testCases: Array of at least 3 test cases, at least 2 public and 1 hidden

              For promptRichText, use this format:
              {"type":"doc","content":[{"type":"heading","attrs":{"level":2},"content":[{"type":"text","text":"Problem Title"}]},{"type":"paragraph","content":[{"type":"text","text":"Problem description here..."}]},{"type":"heading","attrs":{"level":3},"content":[{"type":"text","text":"Examples"}]},{"type":"paragraph","content":[{"type":"text","text":"Example 1: ..."}]},{"type":"heading","attrs":{"level":3},"content":[{"type":"text","text":"Constraints"}]},{"type":"bulletList","content":[{"type":"listItem","content":[{"type":"paragraph","content":[{"type":"text","text":"1 <= n <= 1000"}]}]}]}]}
            configuration:
              responseFormat:
                type: JSON
                jsonSchema:
                  type: array
                  minItems: 5
                  maxItems: 5
                  items:
                    type: object
                    required:
                      [
                        "title",
                        "promptRichText",
                        "difficulty",
                        "tags",
                        "languageIdsAllowed",
                        "defaultLanguageId",
                        "timeLimitSeconds",
                        "memoryLimitMb",
                        "outputComparison",
                        "testCases",
                      ]
                    properties:
                      title:
                        type: string
                      promptRichText:
                        type: string
                      difficulty:
                        type: string
                        enum: ["easy", "medium", "hard"]
                      tags:
                        type: array
                        items:
                          type: string
                      languageIdsAllowed:
                        type: array
                        items:
                          type: integer
                      defaultLanguageId:
                        type: integer
                      timeLimitSeconds:
                        type: integer
                      memoryLimitMb:
                        type: integer
                      outputComparison:
                        type: object
                        properties:
                          trimOutputs:
                            type: boolean
                          normalizeWhitespace:
                            type: boolean
                          caseSensitive:
                            type: boolean
                      starterCode:
                        type: object
                      testCases:
                        type: array
                        minItems: 3
                        items:
                          type: object
                          required: ["visibility", "stdin", "expectedStdout"]
                          properties:
                            visibility:
                              type: string
                              enum: ["public", "hidden"]
                            stdin:
                              type: string
                            expectedStdout:
                              type: string
                            name:
                              type: string
            prompt: |
              Generate 5 supportive personalized coding questions for a LEARNER NEEDING ADDITIONAL PRACTICE.

              LEARNER ANALYSIS:
              {{ trigger.body.analysis }}

              EVALUATION REASONING:
              {{ outputs.evaluate_learner['jsonOutput']['reasoning'] }}

              Focus on foundational algorithms and building confidence.
              Return the JSON array of exactly 5 coding question objects.

          - id: save_support_questions
            type: io.kestra.plugin.core.http.Request
            uri: "{{ secret('ACTIONS_BASE_URL') }}/personalized-coding-questions"
            method: POST
            headers:
              Content-Type: application/json
            body: |
              {
                "submissionId": "{{ trigger.body.submissionId }}",
                "questions": {{ outputs.generate_support_questions['jsonOutput']['questions'] | json }}
              }

    else:
      # Not high novelty - check if moderate or low
      - id: check_moderate_novelty
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.evaluate_learner['jsonOutput']['noveltyScore'] > 3 }}"
        then:
          # Moderate novelty (4-7): 4 questions for general learners
          - id: generate_general_questions
            type: io.kestra.plugin.ai.agent.AIAgent
            provider:
              type: io.kestra.plugin.ai.provider.OpenRouter
              apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
              modelName: openai/gpt-5.1
            systemMessage: |
              You are a coding question generation assistant for GENERAL LEARNERS.
              Return ONLY valid JSON matching the schema. No explanations, markdown, or extra keys.

              Generate exactly 4 personalized coding questions for a learner with typical mixed performance.

              Guidelines for general learners:
              - Balanced mix of difficulty levels (2 easy, 2 medium)
              - Address topics from the analysis with varied approaches
              - Include both concept review and application questions
              - Languages: Python (71), JavaScript (63), TypeScript (74)

              Each question MUST include all required fields as specified.
            configuration:
              responseFormat:
                type: JSON
                jsonSchema:
                  type: array
                  minItems: 4
                  maxItems: 4
                  items:
                    type: object
                    required:
                      [
                        "title",
                        "promptRichText",
                        "difficulty",
                        "tags",
                        "languageIdsAllowed",
                        "defaultLanguageId",
                        "timeLimitSeconds",
                        "memoryLimitMb",
                        "outputComparison",
                        "testCases",
                      ]
                    properties:
                      title:
                        type: string
                      promptRichText:
                        type: string
                      difficulty:
                        type: string
                        enum: ["easy", "medium", "hard"]
                      tags:
                        type: array
                        items:
                          type: string
                      languageIdsAllowed:
                        type: array
                        items:
                          type: integer
                      defaultLanguageId:
                        type: integer
                      timeLimitSeconds:
                        type: integer
                      memoryLimitMb:
                        type: integer
                      outputComparison:
                        type: object
                        properties:
                          trimOutputs:
                            type: boolean
                          normalizeWhitespace:
                            type: boolean
                          caseSensitive:
                            type: boolean
                      starterCode:
                        type: object
                      testCases:
                        type: array
                        minItems: 3
                        items:
                          type: object
                          required: ["visibility", "stdin", "expectedStdout"]
                          properties:
                            visibility:
                              type: string
                              enum: ["public", "hidden"]
                            stdin:
                              type: string
                            expectedStdout:
                              type: string
                            name:
                              type: string
            prompt: |
              Generate 4 balanced personalized coding questions for a GENERAL LEARNER.

              LEARNER ANALYSIS:
              {{ trigger.body.analysis }}

              EVALUATION REASONING:
              {{ outputs.evaluate_learner['jsonOutput']['reasoning'] }}

              Provide a balanced set addressing the topics mentioned in the analysis.
              Return the JSON array of exactly 4 coding question objects.

          - id: save_general_questions
            type: io.kestra.plugin.core.http.Request
            uri: "{{ secret('ACTIONS_BASE_URL') }}/personalized-coding-questions"
            method: POST
            headers:
              Content-Type: application/json
            body: |
              {
                "submissionId": "{{ trigger.body.submissionId }}",
                "questions": {{ outputs.generate_general_questions['jsonOutput']['questions'] | json }}
              }

        else:
          # Low novelty (1-3): 3 questions for average performers
          - id: generate_standard_questions
            type: io.kestra.plugin.ai.agent.AIAgent
            provider:
              type: io.kestra.plugin.ai.provider.OpenRouter
              apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
              modelName: openai/gpt-5.1
            systemMessage: |
              You are a coding question generation assistant for CONSISTENT LEARNERS.
              Return ONLY valid JSON matching the schema. No explanations, markdown, or extra keys.

              Generate exactly 3 personalized coding questions for a learner showing consistent, steady progress.

              Guidelines for consistent learners:
              - Focus on maintaining engagement and steady progression
              - Balance of easy and medium difficulty (2 easy, 1 medium)
              - Brief, focused questions on relevant topics
              - Languages: Python (71), JavaScript (63)

              Each question MUST include all required fields as specified.
            configuration:
              responseFormat:
                type: JSON
                jsonSchema:
                  type: array
                  minItems: 3
                  maxItems: 3
                  items:
                    type: object
                    required:
                      [
                        "title",
                        "promptRichText",
                        "difficulty",
                        "tags",
                        "languageIdsAllowed",
                        "defaultLanguageId",
                        "timeLimitSeconds",
                        "memoryLimitMb",
                        "outputComparison",
                        "testCases",
                      ]
                    properties:
                      title:
                        type: string
                      promptRichText:
                        type: string
                      difficulty:
                        type: string
                        enum: ["easy", "medium", "hard"]
                      tags:
                        type: array
                        items:
                          type: string
                      languageIdsAllowed:
                        type: array
                        items:
                          type: integer
                      defaultLanguageId:
                        type: integer
                      timeLimitSeconds:
                        type: integer
                      memoryLimitMb:
                        type: integer
                      outputComparison:
                        type: object
                        properties:
                          trimOutputs:
                            type: boolean
                          normalizeWhitespace:
                            type: boolean
                          caseSensitive:
                            type: boolean
                      starterCode:
                        type: object
                      testCases:
                        type: array
                        minItems: 3
                        items:
                          type: object
                          required: ["visibility", "stdin", "expectedStdout"]
                          properties:
                            visibility:
                              type: string
                              enum: ["public", "hidden"]
                            stdin:
                              type: string
                            expectedStdout:
                              type: string
                            name:
                              type: string
            prompt: |
              Generate 3 focused personalized coding questions for a CONSISTENT LEARNER.

              LEARNER ANALYSIS:
              {{ trigger.body.analysis }}

              EVALUATION REASONING:
              {{ outputs.evaluate_learner['jsonOutput']['reasoning'] }}

              Provide a concise, focused set to maintain steady progress.
              Return the JSON array of exactly 3 coding question objects.

          - id: save_standard_questions
            type: io.kestra.plugin.core.http.Request
            uri: "{{ secret('ACTIONS_BASE_URL') }}/personalized-coding-questions"
            method: POST
            headers:
              Content-Type: application/json
            body: |
              {
                "submissionId": "{{ trigger.body.submissionId }}",
                "questions": {{ outputs.generate_standard_questions['jsonOutput']['questions'] | json }}
              }

triggers:
  - id: webhook
    type: io.kestra.plugin.core.trigger.Webhook
    key: "{{ secret('WEBHOOK_TRIGGER_KEY') }}"
