kestra/flows/s3upload.yml
id: s3upload
namespace: testing

inputs:
  - id: description
    type: STRING

tasks:
  - id: generate_poem
    type: io.kestra.plugin.ai.agent.AIAgent
    provider:
      type: io.kestra.plugin.ai.provider.OpenRouter
      apiKey: "{{ secret('OPENROUTER_API_KEY') }}"
      modelName: google/gemini-2.5-flash
    systemMessage: |
      Given a description, write a short poem with a title.
      Return ONLY valid JSON that matches the provided schema.

    configuration:
      responseFormat:
        type: JSON
        jsonSchema:
          type: object
          required: ["title", "poem"]
          additionalProperties: false
          properties:
            title:
              type: string
              description: "A short, descriptive title for the poem (3-6 words)"
            poem:
              type: string
              description: "Poem content 2-3 paras"
    prompt: |
      Generate a poem for the following description:

      {{ inputs.description }}

  - id: savejsontofile
    type: io.kestra.plugin.scripts.node.Script
    beforeCommands:
      - npm i @kestra-io/libs
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: node:slim
    script: |
      const fs = require("fs");
      const crypto = require("crypto");
      const Kestra = require("@kestra-io/libs");

      const rawJsonString = JSON.stringify({{ outputs.generate_poem.jsonOutput }});
      const poemData = JSON.parse(rawJsonString);

      const slug = String(poemData.title ?? "poem")
        .toLowerCase()
        .trim()
        .replace(/[^a-z0-9]+/g, "-")
        .replace(/(^-|-$)/g, "")
        .slice(0, 80) || "poem";

      const uuid = crypto.randomUUID();
      const s3Key = `poems/${slug}-${uuid}.json`;

      poemData.s3Key = s3Key;

      fs.writeFileSync("file.json", JSON.stringify(poemData, null, 2), "utf8");

      Kestra.outputs({ s3_key: s3Key });
    outputFiles:
      - file.json

  - id: upload
    type: io.kestra.plugin.aws.s3.Upload
    region: "{{ kv('AWS_DEFAULT_REGION') }}"
    accessKeyId: "{{ kv('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ kv('AWS_SECRET_KEY_ID') }}"
    from: "{{ outputs.savejsontofile.outputFiles['file.json'] }}"
    bucket: "ash15-kestra"
    key: "{{ outputs.savejsontofile['vars']['s3_key'] }}"
